Make a simple dictionary:

In [1]:
people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreyMSchafer@gmail.com", "JaneDoe@gmail.com", "JohnDoe@gmail.com"],    
}

Import pandas

In [2]:
import pandas as pd

Make it a data frame

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

Filtering

In [19]:
f = df["last"] == "Doe"

In [20]:
f

0    False
1     True
2     True
Name: last, dtype: bool

In [21]:
df[f]

  first last              email
1  Jane  Doe  JaneDoe@gmail.com
2  John  Doe  JohnDoe@gmail.com

In [22]:
df.loc[f]

  first last              email
1  Jane  Doe  JaneDoe@gmail.com
2  John  Doe  JohnDoe@gmail.com

In [23]:
df.loc[f, "email"]

1    JaneDoe@gmail.com
2    JohnDoe@gmail.com
Name: email, dtype: object

Filtering with and or or:

In [16]:
f_2 = (df["last"] == "Doe") & (df["first"] == "John")
df.loc[f_2]

  first last              email
2  John  Doe  JohnDoe@gmail.com

In [17]:
f_3 = (df["last"] == "Schafer") | (df["first"] == "John")
df.loc[f_3]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JohnDoe@gmail.com

To switch from an including to an excluding filter, add a tilde before the filter variable

In [18]:
f_3 = (df["last"] == "Schafer") | (df["first"] == "John")
df.loc[~f_3]

  first last              email
1  Jane  Doe  JaneDoe@gmail.com

In [37]:
df.columns = ["first name", "last name", "email"]

In [38]:
df

  first name last name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

In [39]:
df.columns = [x.lower() for x in df.columns]

In [40]:
df

  first name last name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

In [41]:
df.columns = df.columns.str.replace(" ", "_")

In [42]:
df

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

In [43]:
df.rename(columns={"first_name": "first", "last_name": "last"}, inplace=True)

In [44]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

In [45]:
df.loc[2]

first                 John
last                   Doe
email    JohnDoe@gmail.com
Name: 2, dtype: object

In [46]:
df.loc[2] = ["Jack", "Sparrow", "Jack@theblackpearl.com"]

In [47]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   Jack  Sparrow   Jack@theblackpearl.com

In [48]:
df.loc[2, ["last", "email"]]

last                    Sparrow
email    Jack@theblackpearl.com
Name: 2, dtype: object

In [49]:
df.loc[2, ["last", "email"]] = ["Doe", "JackDoe@email.com"]

In [50]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   Jack      Doe        JackDoe@email.com

In [51]:
df.loc[2, "last"] = "Smith"

In [52]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   Jack    Smith        JackDoe@email.com

In [53]:
df["email"] = df["email"].str.lower()

In [54]:
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@gmail.com
2   Jack    Smith        jackdoe@email.com

In [55]:
df["email"].apply(len)

0    23
1    17
2    17
Name: email, dtype: int64

In [65]:
df.apply(len)

first    3
last     3
email    3
dtype: int64

In [56]:
def update_email(email):
    return email.upper()

In [59]:
df["email"].apply(update_email)

0    COREYMSCHAFER@GMAIL.COM
1          JANEDOE@GMAIL.COM
2          JACKDOE@EMAIL.COM
Name: email, dtype: object

In [60]:
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@gmail.com
2   Jack    Smith        jackdoe@email.com

In [61]:
df["email"] = df["email"].apply(update_email)

In [62]:
df

   first     last                    email
0  Corey  Schafer  COREYMSCHAFER@GMAIL.COM
1   Jane      Doe        JANEDOE@GMAIL.COM
2   Jack    Smith        JACKDOE@EMAIL.COM

In [63]:
df["email"] = df["email"].apply(lambda x: x.lower())

In [64]:
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@gmail.com
2   Jack    Smith        jackdoe@email.com